<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Example!</title>
    <%= PumbaView.stylesheets() %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

    <body>
        <%= upper(@conn) %>
        <%= render @view_module, @view_template, assigns %>
        <%= lower(@conn) %>

        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
