$darkblue: #0b132b;
$yankeeblue: #1c2541;
$independance: #3a506b;
$serpent: #5bc0be;
$carmine: #ef3e36;

$serpentwhite: #cfd9e5;

body, html { height: 100%; }

#sidebar { background-color: $yankeeblue; }

@media (min-width: 576px) {
    .mainwrapper {
        min-height: 100%;
    }
    #sidebar {
        max-width: 230px;
        min-height: 100vh;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
}

@media (max-width: 576px) {
    #maincontent {
        padding-top: 1rem;
    }
}

.navbar-dark .navbar-nav {
    .nav-link:hover { color: $serpentwhite; }
    .nav-item.active {
        background-color: $darkblue;
        border-left: $serpent solid;
    }
}

.page-title {
    color: $independance;
    border-bottom: 3px solid $independance;
}

a { color: $independance; }
a:hover { color: $serpent; }

.state-item { background-color: $darkblue; }
.menu-title { color: #ffffff; }

// phoenix error_tag class
.help-block { color: $carmine; }

// .alert-danger {
//     background-color: $carmine;
//     color: $darkblue;
// }
