<div class="menu-title py-2">
    <b><%= @title |> Atom.to_string() |> String.upcase() %></b>
</div>
<ul class="navbar-nav mr-auto flex-column w-100">
    <%= for item <- @items do %>
        <li class="nav-item <%= item.active %>">
            <a class="nav-link mx-1" href="<%= item.href %>">
                <i class="fa <%= item.icon %> text-serpent"></i> <%= item.label %>
            </a>
        </li>
    <% end %>
</ul>
