<div class="container-fluid h-100">
    <div class="row mainwrapper">
        <aside id="sidebar" class="col-12 col-sm-4 p-0">
            <nav class="navbar navbar-expand-sm navbar-dark flex-sm-column flex-row align-items-start h-100 p-0">
                <a class="navbar-brand align-self-center p-2" href="<%= @logo.link %>">
                    <b>
                        <i class="fa <%= @logo.icon %> text-serpent"></i>
                        <%= @logo.bold %></b><%= @logo.normal %>
                </a>
                <button class="navbar-toggler border-0 p-2" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-column w-100" id="mainNavbar">
                    <ul class="navbar-nav mr-auto flex-column w-100">
                        <li class="nav-item state-item">
                            <div class="d-flex flex-row">
                                <div>
                                    <a class="nav-link" href="<%= @user.profile_link %>">
                                        <i class="fa fa-user text-serpent"></i> <%= @user.fullname %>
                                    </a>
                                </div>
                                <%= if @user.sign_out_link do %>
                                    <div class="ml-auto">
                                        <a class="nav-link" href="<%= @user.sign_out_link %>">
                                            <i class="fa fa-sign-out text-serpent"></i>
                                        </a>
                                    </div>
                                <% end %>
                            </div>
                        </li>

                        <%= for item <- @state do %>
                            <li class="nav-item state-item">
                                <div class="d-flex flex-row">
                                    <div>
                                        <a class="nav-link mx-1" href="<%= item.href %>">
                                            <%= item.label %>
                                        </a>
                                    </div>
                                    <%= if Map.get(item, :delete) do %>
                                        <div class="ml-auto">
                                            <%= link to: item.delete, method: :delete, class: "nav-link" do %>
                                                <i class="fa fa-times text-serpent"></i>
                                            <% end %>
                                        </div>
                                    <% end %>
                                </div>
                            </li>
                        <% end %>
                    </ul>

                    <%= for {title, items} <- @menu do %>
                        <%= menu(title, items) %>
                    <% end %>


                </div>
            </nav>
        </aside>

        <main id="maincontent" class="col px-2">
            <div class="d-none d-sm-block">
                <a href="#" onclick="$('#sidebar').toggle()"><i class="fa fa-bars fa-2x py-2 text-yankeeblue"></i></a>
            </div>
